body {
  margin: 0;
  background-color: #212529 !important;
  font-family: brawler !important;
}

@font-face {
  font-family: brawler;
  /* src:  local('Ramaraja-Regular'), url(assets/fonts/Ramaraja-Regular.woff) format('woff'); */
  src: local('Brawler-Regular'), url(assets/fonts/Brawler-Regular.woff) format('woff');
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.hero-img {
  max-height: 400px !important;
}

.hero-content {
  top: 38% !important;
  height: 200px !important;
}

.hero-cta-text {
  font-size: 60px;
}

.hero-loop {
  width: 25%;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}


.hero-btn {
  height: 50px;
}

.section-header {
  top: 100px;
}

.landing-section-buffer {
  margin-top: 200px;
}